@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a hotel review site.  Users who register with an account can write reviews of any of the hotels on this site.</p>
