@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<h4>To contact TrekAdvisor:</h4>
<address>
    1234 Wild Oak Way
    St. Petersburg, FL 33701
    info@trekadvisor.com
</address>


