@{
    ViewData["Title"] = "Home Page";
}


<div class="hotel_index">
    <img src="http://via.placeholder.com/150x150">
    <div class="hotel_index_data">
        <h1>Hotel Name</h1>
        <h5>Hotel City</h5>
        <h5>3 star hotel</h5>
    </div>
    <a href="">Details</a>
</div>
<hr>
<div class="hotel_index">
    <img src="http://via.placeholder.com/150x150">
    <div class="hotel_index_data">
        <h1>Hotel Name</h1>
        <h5>Hotel City</h5>
        <h5>3 star hotel</h5>
    </div>
    <a href="">Details</a>
</div>
<hr>
<div class="hotel_index">
    <img src="http://via.placeholder.com/150x150">
    <div class="hotel_index_data">
        <h1>Hotel Name</h1>
        <h5>Hotel City</h5>
        <h5>3 star hotel</h5>
    </div>
    <a href="">Details</a>
</div>
<hr>