@model TrekAdvisor.Models.HotelModel

@{
    ViewData["Title"] = "Details";
}

<div class="hotel_details">
    <div class="hotel_details_info">
        <h2>Hotel Name</h2>
        <h5>City, State (or country)</h5>
        <h5>X star hotel</h5>
    </div>
</div>
<div>
    <a asp-action="Index">Back to Hotel Main Page</a>
</div>
