@model IEnumerable<TrekAdvisor.Models.HotelModel>

@{
    ViewData["Title"] = "Index";
}

<div class="hotel_main">
    <div class="hotel_main_info">
        <h2>Hotel Name</h2>
        <h5>City, State (or Country)</h5>
        <h5>X star hotel</h5>
    </div>

    <img src="http://via.placeholder.com/225x200">
    <img src="http://via.placeholder.com/225x200">
    <img src="http://via.placeholder.com/225x200">
</div>

<div class="reviews">
    <div class="review">
        <hr>
        <h3>Review Title</h3>
        <h5>UserName</h5>
        <p>Lorem ipsum ...</p>
    </div>
    <div class="review">
        <hr>
        <h3>Review Title</h3>
        <h5>UserName</h5>
        <p>Lorem ipsum ...</p>
    </div>
    <div class="review">
        <hr>
        <h3>Review Title</h3>
        <h5>UserName</h5>
        <p>Lorem ipsum ...</p>
    </div>
</div>