body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* everything below here is stuff I added */
.hotel_index {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hotel_index img {
    margin-right: 30px;
}

.navbar-inverse{
    background-color: green;
}

.navbar-inverse .navbar-brand{
    color: white;
}

.navbar-inverse .navbar-nav>li>a
{
    color:white;
}

.navbar-inverse .btn-link {
    color: white;
}

.hotel_main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hotel_main img {
    margin: 20px 30px;
}

textarea {
    width: 300px;
    height: 150px;
}

.review_form form {
    display: flex;
    flex-direction: column;
}

.review_form input {
    width: 300px;
    margin-bottom: 10px;
}

.review_form button {
    height: 30px;
    width: 70px;
    margin-top: 10px;
}